@import url('https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin');
/*การใส่ฟอนต์kanit*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

body {
    background: #e0e0e0;
    min-height: 100vh;
}

.lines {
    background: #134B8A;
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 1000vh;
    transition: 0.5s;
    overflow: hidden;
}

.lines:hover {
    width: 150px;
}

.lines ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.lines ul li {
    list-style: none;
    width: 100%;
    display: block;
    position: relative;
}

.lines ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;
    position: relative;
    display: flex;
    transition: 0.5s;
    user-select: none;
}

.lines ul li a .icon {
    min-width: 60px;
    min-height: 60px;
    line-height: 100px;
    left: -25px;
    text-align: center;
    display: block;
    position: relative;
}

.lines ul li a .title {
    min-width: 60px;
    min-height: 60px;
    line-height: 100px;
    left: -25px;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
    display: block;
    position: relative;
    white-space: nowrap;
}

.lines ul li a:hover {
    background: #0f1e57;
}

.lines ul li a .icon .fa-solid {
    font-size: 24px;
}

.nontiicon {
    min-width: 5px;
    min-height: 20px;
    line-height: 10px;
    right: 255px;
    text-align: right;
    display: block;
    position: relative;
}
.nontiicon ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.nontiicon ul li {
    list-style: none;
    width: 100%;
    display: block;
    position: relative;
    margin-top: 5px;
}
.nontiicon ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;
    position: relative;
    display: flex;
    transition: 0.5s;
    user-select: none;
}
.nontiicon ul li a .icon {
    min-width: 60px;
    min-height: 60px;
    line-height: 100px;
    text-align: center;
    display: block;
    position: relative;
}
.nontiicon ul li a .icon2 .fa-solid {
    font-size: 20px;
}
.search-container {
    min-width: 5px;
    min-height: 20px;
    line-height: 10px;
    left: 0px;
    text-align: right;
    display: block;
    position: relative;
}
/*.search-container {
    float: right;
}*/

.search-container input[type=text] {
    padding: 6px;
    margin-top: 3px;
    font-size: 9.5px;
    border: none;
}

.search-container button {
    float: right;
    padding: 3px 20px;
    margin-top: 3px;
    margin-right: 17px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #134B8A;
    overflow: hidden;
    width: 500px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #0f1e57;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
    overflow: hidden;
    background-color: #134B8A;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #0f1e57;
    
  }
  .container{
      width: 100%;
      min-height: 10vh;
      padding: 1%;
      background-position: right;
      display: flex;
      align-items: right;
      justify-content: right;
      
  }
  
  

  /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display:block;
    float: center;
  }
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 14px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  